<!doctype html>
<html>
<head>
    <title>Index</title>
    <!-- bootstrap - angular -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.0.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js" type="text/javascript"></script>
    <!-- custom css and js -->
    <link href="css/main.css" rel="stylesheet">
    <script src="js/hello.js"></script>

    <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

    </style>
</head>

<body ng-app="hello">
<div class="container">
    <h1>Greeting</h1>
    <div ng-controller="home as home" ng-cloak class="ng-cloak">
        <p>The ID IS {{home.greeting.id}}</p>
        <p>The content is {{home.greeting.content}}</p>
    </div>
</div>

</body>

</html>