<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <!-- bootstrap - angular -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/jquery-3.2.0.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls-0.12.0.min.js" type="text/javascript"></script>
    <!-- custom css and js -->
    <link href="css/main.css" rel="stylesheet">
    <script src="js/hello.js"></script>

    <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

    </style>
</head>

<body ng-app="question">
<div class="container">
    <h1>Questions</h1>
    <div ng-controller="questionController as questionController">
        <h4>$scope way</h4>
        <p>The question ID IS {{questionUUID}}</p>
        <p>The content is {{questionBody}}</p>

        <h4>Other way</h4>
        <p>The question ID IS {{questionController.q.questionUUID}}</p>
        <p>The content is {{questionController.q.questionBody}}</p>
    </div>
    </br>
    <pre>ANSWER = {{question | json}}</pre>
</div>

</body>

</html>