body{
  color: black;
  overflow: hidden;
  perspective: 1000px;
}

html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 20px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}


.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border: 1px solid #ccc;

}

.form-box input[type="password"]{
    border: 1px solid #ccc;
    margin-top:20px;
}

.form-box button.login{
    margin-top:20px;
    padding: 10px 20px;
}
.styled-select.slate {
        margin-top:20px;
        width: 100%;
        padding: 10px;
        text-align: center;
        height:40px;
        border: 1px solid #ccc;
        background: #fafafa;
        transition:0.2s ease-in-out;

}
.terms{
    margin-top: 30px;
    width: 100%;
    }

h1 {
        color: red;
        text-align: center;
}

h3 {
   color: black;
}



.funky-show-hide.ng-hide-add {
  transform: rotateZ(0);
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}

.funky-show-hide.ng-hide-add.ng-hide-add-active {
  transform: rotateZ(-135deg);
}

.funky-show-hide.ng-hide-remove {
  transform: rotateY(90deg);
  transform-origin: left;
  transition: all 0.5s ease;
}

.funky-show-hide.ng-hide-remove.ng-hide-remove-active {
  transform: rotateY(0);
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}


.grid {
    width: 900px;
    height: 800px;
  }
